.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6532, #f53d2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar__list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;
    display: flex;
}

.navbar__list__item {
    padding: 4px 8px;
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 300;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
}


/* user */

.list__item__avt {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

.list__item__name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.navbar__list__item-user:hover .list__item-user__menu {
    display: block;
}

.list__item-user__menu {
    position: absolute;
    right: 0;
    top: 100%;
    display: inline-block;
    padding: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    z-index: 1;
    width: 160px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}

.list__item-user__menu::before {
    content: "";
    border: solid;
    border-width: 10px 15px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 10px;
    top: -15px;
}

.item-user__menu__item {
    list-style: none;
    border-top: 1px solid var(--border-color);
    border-radius: 2px;
}

.item-user__menu__item:hover {
    opacity: 0.7;
    background-color: #f7f7f7;
}

.item-user__menu__item>a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    width: 100%;
    display: block;
    padding: 8px 16px;
}


/* user */

.navbar__list__item--strong {
    font-weight: 400;
}

.navbar__list__item--separate {
    /* content: "";
    display: block;
    position: absolute;
    border-left: 1px solid var(--white-color);
    height: 16px;
    right: -8px;
    top: 50%;
    transform: translateY(-50%); */
    border-right: 1px solid var(--border-color);
}

.navbar__list__item:hover,
.list__item__link1:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.list__item__link1 {
    color: var(--white-color);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.list__item__title {
    margin-right: 4px;
}

.list__item__title:hover {
    cursor: text;
    color: var(--white-color)
}

.item__link1__icon {
    font-size: 1.8rem;
    margin: 0 4px;
}


/* qr code */

.list__item__qrCode {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn 1s linear;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.navbar__list__item--QR:hover .list__item__qrCode {
    display: block;
}

.item__qrCode__img {
    width: 100%;
}

.item__qrCode__apps {
    display: flex;
    align-content: space-around;
}

.qrCode__apps__download {
    width: 50%;
    padding: 0 8px;
}


/* notify */

.list__item__notify {
    width: 400px;
    background-color: var(--white-color);
    position: absolute;
    top: 100%;
    right: 5%;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: default;
    display: none;
    z-index: 1;
    transform-origin: calc(100% - 20px) top;
    --growth-from: 0;
    --growth-to: 1;
    animation: Growth 0.4s ease-in;
    will-change: opacity, transform;
}

.list__item__notify::before {
    content: "";
    border: solid;
    border-width: 10px 15px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 10px;
    top: -15px;
}

.navbar__list__item--notify:hover .list__item__notify {
    display: block;
}

.item_notify_header {
    color: var(--text-color);
    height: 40px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 40px;
    margin-left: 12px;
    user-select: none;
}

.item__notify__list {
    padding-left: 0;
}

.notify__list__item {
    display: flex;
}

.notify__list__item--viewed {
    background-color: rgba(238, 77, 45, 0.1)
}

.notify__list__item:hover {
    background-color: #f7f7f7;
}

.list__item__link2 {
    padding: 12px;
    text-decoration: none;
    display: flex;
}

.item__link2__img {
    width: 20%;
    object-fit: contain;
}

.item__link2__info {
    margin-left: 12px;
}

.link2__info__name {
    color: var(--text-color);
    display: block;
    font-weight: 400;
    line-height: 1.6rem;
}

.link2__info__description {
    color: var(--text-color);
    display: block;
    font-size: 1.2rem;
    opacity: 0.7;
    line-height: 1.4rem;
}

.item__notify__footer {
    text-align: center;
}

.notify__footer__btn {
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 8px 0;
}


/* login/register */

.modal {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal__container {
    width: 500px;
    background-color: var(--white-color);
    margin: auto;
    z-index: 1;
    border-radius: 4px;
    overflow: hidden;
    --growth-from: 0;
    --growth-to: 1;
    animation: Growth 0.2s ease-in;
}

.modal__header,
.modal__body {
    padding: 0 32px;
}

.modal__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.modal__btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.modal__body {
    margin-top: 8px;
    margin-bottom: 32px;
}

.modal__body__group {
    display: flex;
    flex-direction: column;
}

.modal__body__input {
    width: 100%;
    margin: 8px auto;
    text-align: center;
}

.modal__body__control {
    display: flex;
    justify-content: flex-end;
}

.body__input__getInfo {
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.body__input__getInfo:focus {
    border-color: #888;
}

.modal__body__aside {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
}

.body__aside__link {
    text-decoration: none;
    color: var(--primary-color);
}

.modal__footer__socials {
    background-color: #f5f5f5;
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
}

.modal__body__help {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.4rem;
}

.body__help__link {
    text-decoration: none;
    margin: 12px;
    color: var(--text-color)
}

.body__help__link--forget {
    color: var(--primary-color);
}

.body__help__separate {
    width: 1px;
    height: 1.4rem;
    background-color: var(--border-color)
}


/* header with search */

.header__second-nav {
    height: 78px;
    display: flex;
    align-items: center;
}

.header__logo {
    width: 120px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.header__logo__img {
    width: 100px;
}

.header__search {
    height: 40px;
    background-color: var(--white-color);
    flex-grow: 1;
    border-radius: 2px;
    display: flex;
}

.header__search__input-wrap {
    flex-grow: 1;
    position: relative;
}

.header__search__input {
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    border: none;
    border-radius: 2px;
    outline: none;
    padding: 0 16px;
}


/* search history */

.header__search__history {
    position: absolute;
    background-color: var(--white-color);
    width: 100%;
    margin-top: 2px;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1;
    overflow: hidden;
}

.header__search__input:focus~.header__search__history {
    display: block
}

.search__history__header {
    opacity: 0.7;
    font-size: 1.4rem;
    padding: 0 12px;
    font-weight: 300;
    cursor: default;
}

.search__history__list {
    margin: 0;
    padding-left: 0;
}

.history__list__item {
    list-style-type: none;
    padding: 0 16px;
    color: var(--text-color)
}

.history__list__item:hover {
    background-color: #f7f7f7;
}

.list__item__link3 {
    color: var(--black-color);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 1.4rem;
    display: inline-block;
    width: 100%;
    padding: 8px 0;
}


/* search history */

.header__search__option {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.search__option__select {
    font-size: 1.4rem;
    color: var(--text-color);
    opacity: 0.8;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid var(--text-color);
    padding-left: 8px;
}

.option__select__icon {
    padding: 0 8px;
}

.search__option__list {
    position: absolute;
    right: 0;
    top: 100%;
    width: 100%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    list-style: none;
    background-color: var(--white-color);
    padding-left: 0;
    margin: 2px 0;
    border-radius: 2px;
    display: none;
    animation: fadeIn linear 0.2s;
    z-index: 1;
    overflow: hidden;
}

.header__search__option:hover .search__option__list {
    display: block;
}

.header__search__option::before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    right: 0;
    bottom: -4px;
}

.option__list__item {
    padding: 8px 8px;
    width: 100%;
    font-size: 1.4rem;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
}

.option__list__item:hover {
    cursor: pointer;
    opacity: 0.7;
    background-color: #f7f7f7;
}

.option__list__item i {
    color: var(--primary-color);
    display: none;
}

.option__list__item--active i {
    display: inline-block;
}

.header__search__btn {
    background-color: var(--primary-color);
    border: none;
    border-radius: 2px;
    margin: 2px;
    font-size: 1.4rem;
    color: var(--white-color);
    width: 60px;
}

.header__search__btn:hover {
    opacity: 0.7;
    cursor: pointer;
}

.header__cart {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__cart__wrap {
    position: relative;
    padding: 0 8px;
    cursor: pointer;
}

.header__cart__icon {
    font-size: 2.4rem;
    color: var(--white-color)
}

.header__cart__quantity {
    font-size: 1.4rem;
    line-height: 1.4rem;
    background-color: var(--white-color);
    color: var(--primary-color);
    padding: 0 5px;
    border-radius: 40%;
    border: 2px solid var(--primary-color);
    position: absolute;
    top: -8px;
    right: -6px;
}

.header__cart__wrap:hover .header__cart__list {
    display: block;
}

.header__cart__list {
    position: absolute;
    top: 100%;
    right: -20px;
    background-color: #fdfdfd;
    width: 400px;
    border-radius: 2px;
    margin-top: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.5s linear;
    cursor: default;
    display: none;
    z-index: 1;
}

.header__cart__list::before {
    content: "";
    position: absolute;
    right: 23px;
    top: -20px;
    border-width: 10px 16px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}


/* cart empty */

.header__cart__list--empty>.cart__list__empty-img,
.header__cart__list--empty>.cart__list__empty-msg {
    display: block;
}

.cart__list__empty-img {
    width: 90%;
    display: none;
    text-align: center;
}

.cart__list__empty-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
    text-align: center;
}


/* cart filled */

.cart__list__heading {
    padding: 0 12px;
    font-size: 1.4rem;
    color: var(--text-color);
    opacity: 0.5;
    font-weight: 400;
}

.cart__list-child {
    padding-left: 0;
    list-style: none;
    background-color: var(--white-color);
    max-height: 40vh;
    overflow-y: auto;
}

.list-child__item {
    display: flex;
    padding: 8px 12px;
}

.list-child__item:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}

.list-child__item__img {
    width: 42px;
    height: 42px;
    margin-right: 12px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    align-self: center;
}

.list-child__item__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.item__info__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info__header__name {
    font-size: 1.4rem;
    margin: 0;
    color: var(--text-color);
    font-weight: 500;
    max-height: 3.2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.info__header__wrap {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 8px;
}

.info__header__price {
    font-size: 1.2rem;
    color: var(--primary-color);
}

.info__header__multify {
    font-size: 1rem;
    margin: 0 2px;
    color: var(--text-color);
}

.info__header__quantity {
    font-size: 1.2rem;
    color: var(--text-color);
}

.item__info__body {
    color: var(--text-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

.info__body__wrap {
    display: flex;
    align-items: center;
}

.info__body__type {
    font-size: 1.2rem;
    color: var(--text-color);
}

.info__body__description {
    font-size: 1.2rem;
    color: var(--text-color);
}

.info__body__remove {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}

.info__body__remove:hover {
    color: var(--primary-color);
}

.cart__list__view {
    float: right;
    margin: 0 12px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* body */

.container {
    background-color: #f7f7f7;
}

.container__body {
    padding-top: 32px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__header {
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 16px 16px 8px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
}

.category__header__icon {
    font-size: 1.4rem;
}

.category__list {
    padding-left: 0;
    list-style: none;
}

.category__list__item {
    position: relative;
}

.category__list__item:before {
    content: "";
    position: absolute;
    border-top: 1px solid var(--border-color);
    top: 0;
    left: 16px;
    right: 16px;
}

.category__list__item .list__item__link4--current {
    color: var(--primary-color);
}

.list__item__link4 {
    position: relative;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    right: 0;
    transition: transform linear 0.1s;
    transition: right linear 0.1s;
}

.category__list__item:hover .list__item__link4 {
    color: var(--primary-color);
    transform: scale(1, 1.5);
    right: -8px
}


/* filter */

.filter {
    font-size: 1.4rem;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 8px 16px;
    background-color: #ececec;
    border-radius: 2px;
}

.filter-wrap {
    display: flex;
    align-items: center;
}

.fillter__label {
    display: inline-block;
    text-align: center;
    margin-right: 8px;
}

.filter-wrap__btn {
    margin: 0 6px;
    min-width: 90px;
}

.filter__page-wrap {
    display: flex;
    align-items: center;
}

.page__current {
    color: var(--primary-color);
}

.page__next-page {
    margin-left: 12px;
    line-height: 36px;
    display: flex;
}

.next-page__btn {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 2px;
    border: 1px solid var(--border-color);
}

.next-page__btn:hover {
    opacity: 0.5;
}

.next-page__btn--left {
    background-image: linear-gradient(to left, var(--white-color), rgb(211, 211, 211));
}

.next-page__btn--right {
    background-image: linear-gradient(to right, var(--white-color), rgb(211, 211, 211));
}


/* product */

.product__item {
    display: block;
    text-decoration: none;
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: transform linear 0.1s;
    will-change: transform;
}

.product__item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.product__item__favourite {
    position: absolute;
    top: 10px;
    left: -5px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.2rem;
    padding: 2px 5px;
    font-weight: 500;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.product__item__favourite::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    border-top: 5px solid var(--primary-color);
    border-left: 5px solid transparent;
    filter: brightness(60%);
}

.item__favourite__icon {
    font-size: 0.9rem;
}

.product__item__sale-off {
    text-align: center;
    font-weight: 500;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.94);
}

.product__item__sale-off::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    border-width: 0 20px 5px;
    border-style: solid;
    color: rgba(255, 216, 64, 0.94);
    border-color: transparent currentColor transparent currentColor;
}

.item__sale-off__percent {
    font-size: 1.4rem;
    display: block;
    color: var(--primary-color);
    line-height: 1.8rem;
}

.item__sale-off__label {
    font-size: 1.3rem;
    display: block;
    color: var(--white-color);
    line-height: 1.8rem;
}

.product__item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.product__item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.product__item__price {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right: 10px;
    align-items: baseline;
}

.item__price__old {
    font-size: 1.4rem;
    color: var(--text-color);
    opacity: 0.8;
    text-decoration: line-through;
    margin-left: 10px;
}

.item__price__current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.product__item__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    font-size: 1.4rem;
}

.item__action__icon {
    font-size: 1.3rem;
}

i.item__action--fill {
    display: none;
    color: var(--primary-color);
}

.item__action__icon--liked .item__action--fill {
    display: inline-block;
}

.item__action__icon--liked .item__action--empty {
    display: none;
}

.product__item__rate {
    font-size: 1rem;
    color: var(--text-color);
    opacity: 0.7;
    transform: scale(0.8);
    transform-origin: right;
    margin-left: auto;
}

.product__item__sold {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 6px;
}

.item__rate--gold {
    color: var(--gold-color);
}

.product__item__origin {
    font-size: 1.2rem;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    padding-bottom: 10px;
    font-weight: 300;
}


/* pagination */

.pagination--margin {
    margin: 32px 0;
}


/* footer */

.footer {
    padding-top: 12px;
    border-top: 4px solid var(--primary-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer__list {
    padding-left: 0;
}

.footer__item {
    list-style: none;
}

.item__link {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 8px 0;
    color: var(--text-color);
    display: flex;
    align-items: center
}

.item__link:hover {
    color: var(--primary-color);
}

.item__link__icon {
    font-size: 1.8rem;
    margin: -1px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__dowload__qr {
    width: 80px;
    object-fit: contain;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
}

.footer__download__app {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.download__app__link {
    text-decoration: none;
}

.download__app__img {
    height: 20px;
}

.footer__copyright {
    background-color: var(--border-color);
    opacity: 0.8;
    font-size: 1.4rem;
    text-align: center;
    padding: 8px 0;
    margin: 40px 0 0;
}